services:
  - type: web
    name: masbaratodeals-app-v1
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: PORT
        value: 10000
      - key: NODE_VERSION
        value: 20
      - key: AMAZON_TAG
        value: masbaratodeal-20
      - key: SOVRN_URL_PREFIX
        value: https://redirect.viglink.com?key=168bdd181cfb276b05d8527e1d4cd03e&u=
