services:
  - type: web
    name: masbaratodeals-final
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: PORT
        value: 10000
      - key: NODE_VERSION
        value: 18.16.0
      - key: AMAZON_TAG
        value: masbaratodeal-20
